/******************************************
  CSS3 variables
 ******************************************/
 :root{
  --dark-theme-button: #682ee0;
  --accent-color1: #f47bad;
  --accent-color2: #4eb0dd;
  --box-shadow-color: #00000029;
}
 body.light-theme{
  --main-bg-color1: #f4f7fb;
  --main-bg-color2: #ffffff;
  --main-bg-color3: #f3f4fb;
  --font-color1: #3c3c3c;
  --font-color2: #757575;
  --border-color1: #d4d2e0;
  --box-overlay-color: #dbdbdb;
 }
 body.dark-theme{
  --main-bg-color1: #1b1b1b;
  --main-bg-color2: #282828;
  --main-bg-color3: #383838;
  --font-color1: #ffffff;
  --font-color2: #9a9a9a;
  --border-color1: #525252;
  --box-overlay-color: #6f6f6f;
  ::-webkit-scrollbar{
    background: var(--main-bg-color1);
    border-left: none;
    width: 15px;
  }
  ::-webkit-scrollbar-thumb{
    border-left: 2px solid var(--main-bg-color1);
    width: 13px;
    background: var(--main-bg-color3);
    border-radius: 100px;
  }
 }

/******************************************
  Sass variables and functions
 ******************************************/
 $sp-break-point: 768px;
 $font-color: #3c3c3c;

@mixin sp {
  @media screen and (max-width: $sp-break-point) {
    @content;
  }
}

/******************************************
  Common classes
 ******************************************/
 .box1{
  background: var(--main-bg-color2);
  border-radius: 6px;
  box-shadow: 0 3px 6px var(--box-shadow-color);
}
.box2{
  background: var(--main-bg-color3);
  border-radius: 6px;
  box-shadow: 0 3px 6px var(--box-shadow-color);
}
.box-overlay{
  display: block;
  position: relative;
  cursor: pointer;
  &::after{
    visibility: hidden;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--box-overlay-color);
    opacity: 0;
  }
  &:hover{
    &::after{
      transition: .2s;
      visibility: visible;
      opacity: .25;
    }
  }
}

.link-box{
  @extend .box2;
  color: var(--font-color1);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  &:hover{
    background: var(--accent-color2);
    color: #ffffff;
    transition: 0.5s;
  }
}

.copy-box{
  position: relative;
  width: 6rem;
  background: var(--font-color1);
  padding: 10px 15px;
  text-align: center;
  color: var(--main-bg-color2);
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.copy-box:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(0, 153, 255, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:8px;
  border-right-width:8px;
  margin-left: -8px;
  border-top-color: var(--font-color1);
  top:100%;
  left:50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/******************************************
  Layout elements
 ******************************************/
html{
  font-size: 16px;
}
body{
  margin: 0;
  padding: 0;
  color: var(--font-color1);
  background: var(--main-bg-color1);
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: background-color 0.3s ease;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  .toggle-container{
    margin-right: 1rem;
  }
}
.container{
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.main-flex-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @include sp{
    flex-direction: column;
    padding: 5px;
  }
  .main-flex-item{
    box-sizing: border-box;
    width: 50%;
    margin: 10px;
    @include sp{
      width: 100%;
      margin: 10px 0;
    }
  }
}

.profile{
  display: flex;
  flex-direction: column;
  padding: 30px;
  animation: fadeIn 0.5s linear 0s 1 normal;
}
.profile-avatar{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  border-radius: 1000px;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}
.profile-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .profile-skills-item{
    @extend .box2;
    display: flex;
    flex-direction: column;
    height: 6.5rem;
    width: 6.5rem;
    margin: 0.5rem;
    cursor: default;
    align-items: center;
    justify-content: center;
    .profile-skills-item-icon{
      font-size: 2.3rem;
      line-height: 0rem;
    }
    .profile-skills-item-name{
      font-size: 0.75rem;
      margin-top: 0.75rem;
    }
  }
}
.profile-contact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .profile-contact-item{
    @extend .link-box;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    .profile-contact-item-icon{
      order: 1;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-right: 0.5rem;
    }
    .profile-contact-item-text{
      order: 2;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5rem;
    }
  }
}
.profile-title{
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: center;
  font-weight: bold;
}

.portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  .portfolio-item{
    @extend .box1, .box-overlay;
    width: 47%;
    margin: 0 1.5% 0 1.5%;
    overflow: hidden;
    animation: fadeIn 0.5s linear 0s 1 normal;
    @include sp{
      width: 100%;
      margin: 0 0 5% 0;
    }
    &:hover{
      .portfolio-item-img img{
        transform: scale(1.2, 1.2);
        transition: .3s;
      }
    }
    .portfolio-item-img{
      max-width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      overflow: hidden;
      img{
        max-width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: top;
      }
    }
    .portfolio-item-text{
      padding: 1rem;
      .portfolio-item-text-title{
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .portfolio-item-text-desc{
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
      }
      .portfolio-item-text-url,
      .portfolio-item-text-repo,
      .portfolio-item-text-tech{
        display: none;
      }
    }
  }
}

#dialog{
  width: 75vw;
  max-width: $sp-break-point;
  height: auto;
  max-height: 90vh;
  background: var(--main-bg-color2);
  border: 1px solid var(--border-color1);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include sp{
    width: 97vw;
    max-width: none;
    max-height: 90vh;
  }
  #dialog-header{
    order: 1;
    border-bottom: 1px solid var(--border-color1);
    padding: .5rem 1rem;
    display: flex;
    justify-content: end;
    #dialog-xmark{
      font-size: 2rem;
      font-weight: bold;
      display: inline-flex;
      cursor: pointer;
    }
  }
  #dialog-body{
    order: 2;
    overflow-y: scroll;
  }
  #dialog-footer{
    order: 3;
    border-top: 1px solid var(--border-color1);
    padding: 1rem;
    display: flex;
    justify-content: end;
    button{
      @extend .box2;
      padding: .25rem 1rem;
      margin-right: 1rem;
      font-size: 1rem;
      border-radius: 100rem;
      border: 1px solid #757575;
      background: #f3f4fb;
      cursor: pointer;
      &:hover{
        background: #e4e4e4;
        transition: .3s;
      }
    }
  }
  .dialog-category{
    color: var(--font-color2);
    font-size: .8rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    display: block;
    margin-bottom: 0.25rem;
  }
  .portfolio-item-img{
    text-align: center;
    img{
      width: 100%;
      height: auto;
    }
  }
  a.portfolio-item-link-box{
    @extend .link-box;
    border-radius: 100rem;
    display: inline-flex;
    flex-direction: row;
    word-break: break-all;
    margin: .5rem 0;
    svg, i{
      order: 1;
      padding: .5rem .25rem .5rem 1rem;
    }
    .portfolio-item-link-box-url{
      order: 2;
      padding: .5rem 1rem .5rem .25rem;
    }
  }
  .portfolio-item-text{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .portfolio-item-text-title{
      order: 1;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 2rem;
    }
    .portfolio-item-text-url{
      order: 3;
      margin-top: 1rem;
      &::before{
        @extend .dialog-category;
        content: "URL:";
      }
    }
    .portfolio-item-text-repo{
      order: 4;
      margin-top: 1rem;
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        &::before{
          @extend .dialog-category;
          content: "Repository:";
        }
        li{
          margin-bottom: .5rem 0;
        }
      }
    }
    .portfolio-item-text-tech{
      order: 5;
      ul{
        margin: 0;
        padding: 0.5rem 0;
        list-style: none;
        display: block;
        &::before{
          @extend .dialog-category;
          content: "Technologies:";
        }
        li{
          display: inline-flex;
          padding: 0.2rem 0.5rem;
          margin: .25rem 0;
          color: #ffffff;
          background: var(--accent-color2);
          border: 1px solid var(--accent-color2);
          border-radius: 100rem;
          cursor: default;
        }
      }
    }
    .portfolio-item-text-desc{
      order: 2;
    }
  }
}

#contact-mail{
  position: relative;
  .copy-box{
    position: absolute;
    left: 3rem;
    top: -2rem;
    visibility: hidden;
  }
  &:hover{
    .copy-box{
      visibility: visible;
      top: -2.3rem;
      transition: .3s;
    }
  }
}

/* Theme buttons */
.toggle-container {
  position: relative;
  width: 60px;
  height: 30px;
  input[type="checkbox"] {
    display: none;
  }
}
.toggle {
  @extend .box1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  background-color: var(--accent-color2);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  transition: background-color 0.3s ease;
}
.toggle i,
.toggle svg {
  font-size: 16px;
  color: #fff;
  position: absolute;
}
.fa-sun {
  right: 10px;
}
.fa-moon {
  left: 10px;
}
.slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

input:checked + label {
  background-color: var(--dark-theme-button);
}

input:checked + label .slider {
  left: calc(100% - 27px);
}

input:checked + label i.fa-sun {
  display: none;
}

input:checked + label i.fa-moon {
  display: block;
}